<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/sim.css">
    <meta charset="UTF-8">
    <title>cool graphs</title>
</head>
<body>


<div class="example" style="width:100%;">BRUH.</div>

<h1 style="text-align:center; color:DodgerBlue;">HI MADI</h1>

<div class="menu">
    <a class="menu-option" href="/sim">Sim</a>
    <a class="menu-option">Stats</a>
    <a class="menu-option">Art</a>
</div>


<div class="plot">{{ graph|safe }}</div>
<!--<div class="plot" style="max-width:100%;">{{ graph|safe }}</div>-->





</body>
</html>