<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/sim.css">
    <meta charset="UTF-8">
    <title>cool graphs</title>
</head>
<body>


<div class="example">BRUH.</div>

<h1 style="text-align:center; color:DodgerBlue;">HI MADI</h1>

<div class="menu">
    <a class="menu-option">Sim</a>
    <a class="menu-option">Stats</a>
    <a class="menu-option">Art</a>
</div>


<div class="plot">{{ graph|safe }}</div>
<!--<div class="plot" style="max-width:100%;">{{ graph|safe }}</div>-->


<!--<div class="input">-->
<!--    <form autocomplete="off" action method="post">-->
<!--        <label for="betSize">Bet Size $</label>-->
<!--        <input type="number" id="betSize" name="betSize" placeholder=5>-->
<!--        <input type="submit" value="Submit">-->
<!--    </form>-->
<!--</div>-->

<!--<div class="plot">{{ graph2|safe }}</div>-->


</body>
</html>